@charset "ISO-8859-1";
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f3f3c7;
}

#navbar {
    background-color: #f582f5;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.right ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.right ul li {
    list-style: none;
    margin: 20px;
}

.right ul li a {
    text-decoration: none;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.right ul li a:hover {
    color: rgb(240, 14, 14);
}

#container {
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    max-width: 380px;
    width: 100%;
    background: #a7a3a3;
    padding: 35px;
    border-radius: 10px;
    margin-left: 40%;
    /* padding-right: 1px; */
}

#container h1 {
    /* align-items: center; */
    font-size: 1.5rem;
    font-weight: 500;
    color: #e92858;
    text-align: center;

}

#container .form {
    margin-top: 5px;
}

.form .input-box {
    margin-top: 10px;
    width: 100%;
}

.input-box label {
    color: #333;
    font-size: 1.2rem;
}

.form :where(.input-box input) {
    position: relative;
    height: 30px;
    width: 100%;
    /* outline: none; */
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

select {
    position: relative;
    height: 30px;
    width: 100%;
    cursor: pointer;
    border-radius: 6px;
}

.form button {
    height: 35px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    /* transition: all 0.2s ease; */
    background: rgb(130, 106, 251);
}

.form button:hover {
    background: rgb(88, 56, 250);
}

textarea {
	width: 100%;
}
